.CommentBox__root {
  width: 140%;
  height: 14%;
display: block;
position: relative;
text-align: center;
margin: auto;
}

.CommentBox__input {
  padding-bottom: 60px;
  width: 180%;
  margin-bottom: 60px;
  margin-left: -180px;
  border: none !important;
}
