.LikeButton__root {
  border: none;
  outline: none;
  font-size: 26px;
  padding: 10;
  margin-top: 91px;
  color: rgb(0, 176, 41);
  margin-left: 100px;
}

.LikeButton__icon--liked {
  color: rgb(0, 176, 41);


}
