.NotificationButton__button {
  display: block
}

.NotificationButton__button--active {
  background-color: rgb(0, 176, 41);
  color: black !important;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 11px;
  line-height: 2;
  margin-top: 5px;
}
