.Profile__spinner-container {
  padding-top: 20vh;
  text-align: center;
}

.Profile__avatar-img-wrapper {
  width: 150px;
  height: 150px;
  margin: 90 10px;
  text-align: center;
  border: 1px solid rgb(0, 176, 41);
  border-radius: 50%;

}

.Profile__user-info-container {
  padding: 40px 10px;
  display:inline-flex;


}

.Profile__avatar-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

.Profile__username {
  display: inline-block;
  color: rgb(0, 176, 41);
  margin-right: 9px;
  font-family: 'Pacifico', cursive;
}

.Profile__edit-button {
  padding: 0.3em 1.2em;
  line-height: 1;
  vertical-align: middle;
  background-color: silver;
}

.Profile__menu-button {
  display: inline-block;
  line-height: 1;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  vertical-align: middle;
  border: none;
  outline: none;
  margin-left: 10px;
  color: rgb(0, 176, 41);
}

.Profile__edit-button a {
  display: inline-block;
  width: 100%;
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  letter-spacing: .1px;


}

.Profile__edit-button a:hover {
  color: rgb(0, 176, 41);
}

.Profile__photo-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Profile__photo-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.Profile__stats-item {
  color: rgb(0, 176, 41);
  display: inline;
  margin-right: 28px;
  font-size: 18px;
  float:right;
}

.Profile__stats-item--link {
  cursor: pointer;
}

.Profile__stats-count {
  font-weight: bold;
}

.PostModal__post-stats {
  padding: 12px 0;
}
